@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar @(sidebarCollapsed ? "collapsed" : "")">
        <NavMenu @bind-SidebarCollapsed="sidebarCollapsed" />
    </nav>
    <main>
        <div class="top-row px-4">
        </div>
        @Body
    </main>
</div>

@code {
    public bool sidebarCollapsed = false;

    private void ToggleSidebar()
    {
        sidebarCollapsed = !sidebarCollapsed;
    }
}